---
import SiteNav from "@components/SiteNav.astro";
import PageLayout from "@layouts/PageLayout.astro";
import type { Page } from "../site";
const page: Page = {
	navTitle:  "About",
	heroTitle:  "About",
	heroSubtitle:  "One Family, One Love",
};
---

<PageLayout page={page}>
  <!-- Hero -->
	<style>
		/* Small screens (320px - 480px) */
		@media only screen and (max-width: 480px) {
			.hero {
				background-image: url("../assets/hero17-sm.webp");
			}
		}
		/* Medium screens (481px - 768px) */
		@media only screen and (min-width: 481px) and (max-width: 768px) {
			.hero {
				background-image: url("../assets/hero17-md.webp");
			}
		}
		/* Large screens (769px - 1024px) */
		@media only screen and (min-width: 769px) and (max-width: 1024px) {
			.hero {
				background-image: url("../assets/hero17-lg.webp");
			}
		}
		/* Extra large screens (1025px and above) */
		@media only screen and (min-width: 1025px) {
			.hero {
				background-image: url("../assets/hero17-xl.webp");
			}
		}
	</style>
  <div class="hero" data-theme="dark">
    <SiteNav/>
    <header class="container">
      <h1>{page.heroTitle}</h1>
      <p>{page.heroSubtitle}</p>
    </header>
  </div>
  <!-- ./ Hero -->
   
  <main class="container">
    <p>
      We're a philanthropic organization acting to raise the vibration of 
      Earth through letter writing.
    </p>

    <p>
      Our mission is serving humanity with the encouragement of disclosure of
      our galactic spirit family here on Earth.
    </p>

    <p>
      We send letters to U.S. military, scientific, and
      political leaders requesting the public disclosure of information
      related to unidentified aerial phenomena (UAP), and indications of
      extraterrestrial life and technologies.
    </p>

    <p>
      This is a loving and inspired action in an <a
        href="https://www.bashar.org/socialexperiment"
        >Interstellar Alliance Social Experiment.</a
      >
    </p>
  </main>
</PageLayout>