---
import SiteNav from "@components/SiteNav.astro";
import PageLayout from "@layouts/PageLayout.astro";
const page = {
  navTitle: "Blog",
  heroTitle: "Blog",
  heroSubtitle: "One family, one love",
};
---

<PageLayout page={page}>
  <!-- Hero -->
  <style>
    /* Small screens (320px - 480px) */
    @media only screen and (max-width: 480px) {
      .hero {
        background-image: url("../assets/hero15-sm.webp");
      }
    }

    /* Medium screens (481px - 768px) */
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .hero {
        background-image: url("../assets/hero15-md.webp");
      }
    }

    /* Large screens (769px - 1024px) */
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
      .hero {
        background-image: url("../assets/hero15-lg.webp");
      }
    }

    /* Extra large screens (1025px and above) */
    @media only screen and (min-width: 1025px) {
      .hero {
        background-image: url("../assets/hero20-xl.webp");
      }
    }
  </style>

  <div class="hero" data-theme="dark">
    <SiteNav/>
    <header class="container">
      <h1>{page.heroTitle}</h1>
      <p>{page.heroSubtitle}</p>
    </header>
  </div>

  <!-- Blog Listing -->
  <main class="container blog-list">
    <ul>
      <li>
        <a href="/blog/oni-response/">Response from the U.S. Office of Naval Intelligence</a>
        <small>September 30, 2024</small>
        <p>The ONI says they don't have any records on UFOs and UAPs.</p>
      </li>
      <li>
        <a href="/blog/2024-q3-letters/">2024 Q3 Letters</a>
        <small>August 1, 2024</small>
        <p>2,383 letters sent to U.S. military, scientific, and political leaders requesting public disclosure of UAPs.</p>
      </li>
    </ul>
  </main>
</PageLayout>
