---
import SiteNav from "@components/SiteNav.astro";
import PageLayout from "@layouts/PageLayout.astro";
import type { Page } from "../site";
const page: Page = {
	navTitle:  "Donate",
	heroTitle:  "Donate",
	heroSubtitle:  "Empower the truth",
};
---

<PageLayout page={page}>
  <!-- Hero -->
	<style>
		/* Small screens (320px - 480px) */
		@media only screen and (max-width: 480px) {
			.hero {
				background-image: url("../assets/hero20-sm.webp");
			}
		}
		/* Medium screens (481px - 768px) */
		@media only screen and (min-width: 481px) and (max-width: 768px) {
			.hero {
				background-image: url("../assets/hero20-md.webp");
			}
		}
		/* Large screens (769px - 1024px) */
		@media only screen and (min-width: 769px) and (max-width: 1024px) {
			.hero {
				background-image: url("../assets/hero20-lg.webp");
			}
		}
		/* Extra large screens (1025px and above) */
		@media only screen and (min-width: 1025px) {
			.hero {
				background-image: url("../assets/hero20-xl.webp");
			}
		}
	</style>
  <div class="hero" data-theme="dark">
    <SiteNav/>
    <header class="container">
      <h1>{page.heroTitle}</h1>
      <p>{page.heroSubtitle}</p>
    </header>
  </div>
  <!-- ./ Hero -->

  <main class="container">
		<hgroup> 
			<h3>Join the Movement</h3> 
			<p>Support transparency and openness about UAPs and extraterrestrial life</p> 
		</hgroup> 
		<p><strong>Why Your Support Matters</strong></p>
		<p>
			Join the movement for transparency and openness about unidentified aerial phenomena (UAP), and indications of extraterrestrial life and technology already here on Earth. By doing so, you're joining a growing movement that demands truth and transparency from our leaders.
		</p>
		<hr />
		<hgroup> 
			<h3>Make Your Voice Heard</h3> 
			<p>Your contribution funds the delivery of "Interstellar Alliance Social Experiment: Step Three" letters to U.S. military, scientific, and political leaders</p>
		</hgroup> 
		<p><strong>Your Impact</strong></p>
		<p>
			Your support sends powerful letters to U.S. military, scientific, and political leaders, urging them to prioritize public disclosure. Every dollar you contribute goes directly towards the costs of printing, postage, labor, and equipment, ensuring that your voice is heard loud and clear.
		</p>
		<hr />
		<hgroup> 
			<h3>A Brighter Future</h3> 
			<p>Together, we can create a more enlightened and compassionate world</p> 
		</hgroup>
		<p><strong>The Power of Collective Action</strong></p>
		<p>
			With our collective effort, we can create a brighter, more compassionate world for all. By joining forces and demanding transparency, we can inspire a new era of cooperation and understanding.
		</p>
    <div style="position:relative;overflow:hidden;height:1200px;width:100%;">
      <iframe title='Donation form powered by Zeffy' style='position: absolute; border: 0; top:0;left:0;bottom:0;right:0;width:100%;height:100%' src='https://www.zeffy.com/embed/donation-form/789e2e11-d51f-42e0-9c53-f4835f595567' allow="payment" allowtransparency></iframe>
    </div>
  </main>
</PageLayout>