---
import "../styles/site.css"
import { siteTitle } from '../site';
---

<hr/>
<p style="text-align: center;">
  <small>
    {siteTitle}
    <span class="seperator">|</span>
    A 501(c)(3) Philanthropic Organization
    <span class="seperator">|</span>
    Advocating for UAP Disclosure
  </small>
</p>