---
import "../styles/site.css"
import { siteTitle } from '../site';
---

<nav class="container nav">
  <!-- <Hamburger /> -->
  <ul>
    <li><strong><a href="/" class="contrast">{siteTitle}</a></strong></li>
  </ul>
  <ul>
    <li><a href="/about" class="contrast">About</a></li>
    <li><a href="/blog" class="contrast">Blog</a></li>
    <li><a href="/donate" class="contrast">Donate</a></li>
  </ul>
</nav>